{% extends 'base.html' %}

{% block title %} Add Books {% endblock %}

{% block content %}
<center>
<h3> Enter details of the book </h3>

    <form class = "form" method = "POST">
        <div class = "mb-3">
            <label for = "title" class = "form-label">Title of the Book: </label>
            <input type = "text" id ="title" name = "title" class = "form-inline" required> <br>
        </div>

        <div class = "mb-3">
            <label for = "author">Authors: </label>
            <input type = "text" id = "author" name = "author" class = "form-control"> <br>
        </div>

        <div class = "mb-3">
            <label for = "isbn"> ISBN: </label>
            <input type = "text" id = "isbn" name = "isbn"> <br>
        </div>

        <div class = "mb-3">
            <label for = "stock">Books Available:</label>
            <input type = "number" id = "stock" name = "stock"> <br>
        </div>

        <div class = "mb-3">
            <label for = "publisher"> Publisher: </label>
            <input type = "text" id = "publisher" name = "publisher"> <br>
        </div>

        <div class = "mb-3">
            <label for = "num_pages"> No. of Pages</label>
            <input type = "number" id = "num_pages" name = "num_pages"> <br>
        </div>


        <input type = "submit">
    </form>
</center>
{% endblock %}