{% extends 'base.html' %}

{% block title %} Issue Book {% endblock %}

{% block content %}
<h3 style = "text-align: center;">Enter details to issue book</h3>
<div class = "container mt-5">
    <form method = "POST">
        <label for="id">Enter Member ID:</label>
        <input type = "number" id = "id" name = "id">

        <label for = "book_id">Enter Book ID to be issued: </label>
        <input type = "number" id = "book_id" name = "book_id">

        <input type = "submit">
    </form>
</div>

{% endblock %}